@media screen and (max-width: 375px){
  #main-content {
    margin-top: 40px;
  }

  #top{
    height: 887px;
  }
}

@media screen and (min-width: 376px){
  #main-content {
    max-width: 1108px;
    margin: 48px auto;
  }
}

