@media screen and (max-width: 375px){
  #head-menu {
    margin: 0 auto;
    height: 33px;
    position: relative;
    max-width: 327px;
  }

  .menu-icon {
    float: right;
  }

  .bar{
    width: 24px;
    height: 3px;
    background: #9E9AA8;
    margin: 6px 0;
  }
}
